.forecast-tile {
    border-right: 4px solid white;
}

.forecast-tile:last-child{
    border-right: 0px
}

.forecast-tile-day, .forecast-tile-temp {
    text-align: center;
}

.forecast-tile-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}